<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="Caching" type="Colo.Configuration.CachingSection, Colo"/>
  </configSections>
  <Caching path="CachingTest" isPathVirtual="false" cacheLife="1" useCache ="true">
    <CacheDefault>
      <add type="type 1" cacheLife="10"></add>
      <add type="type 2" cacheLife="20"></add>
      <add type="Colo.Test.DummyData" cacheLife ="45"></add>
      <add type="Colo.Test.DummyData2" cacheLife ="21" enabled="false"></add>
      <add type="Colo.Test.Helpers.CacheDefaultTest1B" cacheLife="40" enabled="true"></add>
      <add type="Colo.Test.Helpers.CacheDefaultTest2A" cacheLife="30" enabled="false"></add>
      <add type="Colo.Test.Helpers.CacheDefaultTest2C" cacheLife="10" enabled="true"></add>
    </CacheDefault>
  </Caching>
</configuration>
