<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="Caching" type="Colo.Configuration.CachingSection, Colo"/>
  </configSections>
  <Caching path="CachingTest" isPathVirtual="false" cacheLife="1" useCache ="true">
      <CacheDefault>
          <add type="type 1" cacheLife="10"></add>
          <add type="type 2" cacheLife="20"></add>
          <add type="Colo.Test.DummyData" cacheLife ="45"></add>
          <add type="Colo.Test.DummyData2" cacheLife ="21" enabled="false"></add>
      </CacheDefault>
  </Caching>
</configuration>
